# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### user resource
/Resource
### Compile file
/*/target
### not ignore
/Resource/SpringCloud 第二季2020.03.05.mmap
!/Resource/images/*
### project temporarily ignored
